<div id="{{ id|raw }}"
     class="hide-in-sortmode"
     data-property='{{ property|json_encode }}'
     data-mapper-property="{{ property.name }}"
     data-form="true"
     data-type="mediaSelection"
     data-type-instance-name="{{ id|raw }}"
     data-aura-types="{{ params.types }}"
     data-aura-component="media-selection@sulumedia"
     data-aura-instance-name="{{ id|raw }}"
     data-aura-url="/admin/api/media">
</div>
