<div
        id="{{ id }}"
        data-property="{{ property|json_encode }}"
        data-mapper-property="{{ property.name }}"
        data-type="tagList"
        data-type-instance-name="{{ id|raw }}"
        data-form="true"
        data-aura-component="auto-complete-list@husky"
        data-aura-instance-name="{{ id|raw }}"
        data-aura-remote-url="/admin/api/tags?flat=true&sortBy=name&searchFields=name"
        data-aura-items-key="tags"
        data-aura-get-parameter="search"
        data-aura-auto-complete-icon="tag">
</div>
