<div id="{{ id|raw }}"
     data-property='{{ property|json_encode }}'
     data-mapper-property="{{ property.name }}"
     data-aura-component="snippet-content@sulusnippet"
     data-aura-locale="{{ languageCode }}"
     data-aura-navigate-event="sulu.content.navigate"
     data-type="snippet"
     data-type-instance-name="{{ id|raw }}"
     data-instance-name="{{ id|raw }}"
     data-form="true"
     data-webspace="{{ webspaceKey }}"
     data-language="{{ languageCode }}"
     data-url="{{ path('get_snippets') }}?language={{ languageCode }}{% if property.params.snippetType is defined %}&type={{ property.params.snippetType }}{% endif %}"
 {% if property.params.snippetType is defined %}
     data-snippet-type="{{ property.params.snippetType }}"
 {% endif %}
     >
 </div>
