{% if data is defined and data is not null %}
    <h5 class="label"><%=translate('contacts.sidebar.mainContact')%></h5>
    <div class="grid-row m-bottom-15">
        <h4 id="main-contact" class="m-bottom-0 m-top-0 action" data-id="{{ data.id }}">{{ data.fullName }}</h4>
        {% if data.phone is not empty %}
            <span class="grey block">(<%=translate('public.phone')%>) {{ data.phone }}</span>
        {% endif %}
        <span class="grey block"><a class="action" href="mailto:{{ data.email }}">{{ data.email }}</a></span>
    </div>
{% endif %}
