<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ name }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        {% block stylesheets %}
        <link rel="stylesheet" href="/bundles/suluadmin/dist/app.min.1488793960308.css">
        {% endblock stylesheets %}
    </head>
    <body>
        <div class="spinner initial-loader">
            <div class="double-bounce1 bouncer"></div>
            <div class="double-bounce2 bouncer"></div>
        </div>
        <div id="main" data-aura-component="app@suluadmin" data-aura-user="{{ user| json_encode }}">
            <div class="navigation-container">
                <div class="sulu-navigation-labels"></div>
                <div data-aura-component="navigation@husky" data-aura-url="/admin/navigation" data-aura-collapse="true"
                     data-aura-user-name="{{ user.fullName }}"
                     data-aura-system-name="{{ name }}"
                     data-aura-system-version="{{ suluVersion }}"
                     data-aura-user-locales='{{ translated_locales|keys|json_encode }}'
                     data-aura-user-locale="{{ user.locale }}"
                     data-aura-logout-route="{{ path('logout') }}"
                     data-aura-resize-width="1470"
                     class="navigation-column">
                </div>
            </div>
            <div class="content-container">
                <div id="labels-container" data-aura-component="labels@suluadmin"></div>
                <div class="content-column fixed">
                    <div class="wrapper">
                        <div class="page">
                            <main class="grid" id="content"></main>
                        </div>
                    </div>
                </div>

                <div class="sidebar-column max">
                    <aside id="sidebar" data-aura-component="sidebar@suluadmin"></aside>
                </div>
            </div>
            <div id="overlayContainer" data-aura-component="overlay@suluadmin"></div>
        </div>

        <script type="text/javascript">
            {% autoescape false %}
            var SULU = {
                debug: false,
                user: {{ user|json_encode }},
                sections: {{ config|json_encode }},
                locales: {{ locales|json_encode }},
                translatedLocales: {{ translated_locales|json_encode }},
                translations: {{ translations|json_encode }},
                fallbackLocale: '{{ fallback_locale }}'
            };
            {% endautoescape %}

            // CKEditor needs base path to load some other files
            var CKEDITOR_BASEPATH = '/bundles/suluadmin/js/vendor/husky/vendor/ckeditor/';
        </script>

        {% block javascripts %}
        <script data-main="/bundles/suluadmin/dist/app.min.1488793960308" src="/bundles/suluadmin/js/vendor/husky/husky.min.js?v=1488793960308"></script>
        {% endblock javascripts %}
    </body>
</html>
