<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>SULU</title>
        <link rel="stylesheet" href="{{ preload(asset('main.css', 'sulu_admin'), {as: 'style'}) }}">
    </head>
    <body>
    <div id="application">
        <script type="text/javascript">
            {% autoescape false %}
            const SULU_CONFIG = Object.freeze({
                appVersion: '{{ app_version }}',
                endpoints: {{ endpoints|json_encode }},
                fallbackLocale: '{{ fallback_locale }}',
                suluVersion: '{{ sulu_version }}',
                title: '{{ title }}',
                translations: {{ translations|json_encode }},
            });
            {% endautoescape %}
        </script>
    </div>
        <script src="{{ preload(asset('main.js', 'sulu_admin'), {as: 'script'})}}"></script>
    </body>
</html>
