<div id="mapper-add-{{ property.name }}" class="pointer" data-mapper-add="{{ property.name }}">
    <span class="icon-add"></span> add {{ property.name }} (<span id="current-counter-{{ property.name }}">{{ property.minOccurs }}</span> out of {{ property.maxOccurs }})
</div>
