{# TODO to by deleted #}
{# TODO default types #}
<style type="text/css">
    .grid-row img {
        max-width: 100%;
    }

    img.logo {
        padding-top: 30px;
        padding-bottom: 10px;
        max-height: 140px;
    }

    h2.bold,
    label.bold {
        font-weight: bolder;
    }

    .two-cols div.grid-col-6:nth-child(2n+1) {
        padding-left: 0;
        padding-right: 10px;
    }

    .two-cols div.grid-col-6:nth-child(2n) {
        padding-right: 0;
    }

    .icon-add {
        cursor: pointer;
    }

    .icon-add:after {
        content: "\E191";
        display: inline-block;
    }

    .icon-settings:after {
        content: "\E281";
        display: inline-block;
    }

    .control-label {
        padding-left: 5px;
        padding-right: 10px;
        cursor: pointer;
    }

    .inline {
        display: inline-block;
    }

    .m-top-30 {
        margin-top: 30px;
    }

    div.remove-email,
    div.remove-phone,
    div.remove-address {
        display: none;
    }

    #phones div:hover > div.remove-phone,
    #addresses div:hover > div.remove-address,
    #emails div:hover > div.remove-email {
        display: block;
    }
</style>

<form id="contact-form">

    <div class="grid">

        <h2 class="bold">Name and Company</h2>

        <div class="grid-row">
            <div class="grid-col-2">
                <img class="avatar logo" src="http://placehold.it/500" alt=""/>
            </div>
            <div class="grid-col-10">
                <div class="grid-row">
                    <label class="bold">Title*</label>
                    <input class="form-element" type="text" id="name" value="<%= name %>"/>
                </div>
                <div class="grid-row">
                    <div class="grid-col-8">
                        <label>Website</label>
                        <input class="form-element" type="text" id="url" value="<%= (!!urls[0]) ? urls[0].url : '' %>" />
                    </div>
                </div>
            </div>
        </div>
        <hr class="divider"/>

        <h2>Email</h2>

        <div class="grid-row two-cols" id="emails">
            <% _.each(emails, function(email) { %>
            <div class="grid-col-6 email-item" data-id="<%= email.id %>">
                <label class="bold drop-down-trigger type-value pull-left"
                       data-id="<%= (!!email.emailType)?email.emailType.id :'{{ defaultEmailType.id }}' %>">
                    <span class="type-name"><%= (!!email.emailType)?email.emailType.name :'{{ defaultEmailType.name }}' %></span>
                    <span class="dropdown-toggle inline"></span>
                </label>

                <div class="remove-email"><span class="icon-remove pull-right"></span></div>

                <input class="form-element email-value" type="text" value="<%= email.email %>"/>
            </div>
            <% }); %>
        </div>
        <div class="grid-row">
            <div id="addEmail" data-target-id="emails">
                <span class="icon-add"></span><span class="control-label">Add email</span>
            </div>
        </div>
        <hr class="divider"/>

        <h2>Phone</h2>

        <div class="grid-row two-cols" id="phones">
            <% _.each(phones, function(phone) { %>
            <div class="grid-col-6 phone-item" data-id="<%= phone.id %>">
                <label class="bold drop-down-trigger type-value pull-left"
                       data-id="<%= (!!phone.phoneType)? phone.phoneType.id:'{{ defaultPhoneType.id }}' %>">
                    <span class="type-name"><%= (!!phone.phoneType)? phone.phoneType.name:'{{ defaultPhoneType.name }}' %></span>
                    <span class="dropdown-toggle inline"></span>
                </label>

                <div class="remove-phone"><span class="icon-remove pull-right"></span></div>

                <input class="form-element phone-value" type="text" value="<%= phone.phone %>"/>
            </div>
            <% }); %>
        </div>
        <div class="grid-row">
            <div id="addPhone" data-target-id="phones">
                <span class="icon-add"></span><span class="control-label">Add phone number</span>
            </div>
        </div>

        <hr class="divider"/>
        <div class="grid-row">
            <div class="grid-col-10">
                <h2>Address</h2>
            </div>
            <div class="grid-col-2 align-right m-top-10">
                <div id="addAddress" data-target-id="addresses">
                    <span class="icon-add"></span><span class="control-label">Add address</span>
                </div>
            </div>
        </div>

        <div id="addresses">
            <% _.each(addresses, function(address) { %>
            <div class="address-item m-bottom-10" data-id="<%= address.id %>">
                <div class="grid-row">
                    <div class="m-bottom-10 pull-left">
                        <label class="bold drop-down-trigger type-value"
                               data-id="<%= (!!address.addressType)?address.addressType.id : '{{ defaultAddressType.id }}' %>">
                            <span class="type-name"><%= (!!address.addressType)?address.addressType.name : '{{ defaultAddressType.name }}' %></span>
                            <span class="dropdown-toggle inline"></span>
                        </label>
                    </div>
                    <div class="remove-address"><span class="icon-remove pull-right"></span></div>
                </div>
                <div class="grid-row">
                    <div class="grid-col-6">
                        <label>Street</label>
                        <input class="form-element street-value" type="text" value="<%= address.street %>"/>
                    </div>
                    <div class="grid-col-2">
                        <label>Number</label>
                        <input class="form-element number-value" type="text" value="<%= address.number %>"/>
                    </div>
                    <div class="grid-col-4">
                        <label>House, Floor, etc.</label>
                        <input class="form-element addition-value" type="text" value="<%= address.addition %>"/>
                    </div>
                </div>
                <div class="grid-row">
                    <div class="grid-col-2">
                        <label>Zip</label>
                        <input class="form-element zip-value" type="text" value="<%= address.zip %>"/>
                    </div>
                    <div class="grid-col-4">
                        <label>City</label>
                        <input class="form-element city-value" type="text" value="<%= address.city %>"/>
                    </div>
                    <div class="grid-col-2">
                        <label>State</label>
                        <input class="form-element state-value" type="text" value="<%= address.state %>"/>
                    </div>
                    <div class="grid-col-4">
                        <label>Country</label>
                        {# TODO Country #}
                        <select class="form-element country-value">
                            <option value="1">Österreich</option>
                            <option value="2">Deutschland</option>
                            <option value="3">Schweiz</option>
                        </select>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
        <div class="grid-row">
            <input type="submit" value="[SAVE]" class="m-bottom-10"/>
        </div>
        <!--
        <hr class="divider"/>
        <div class="grid-row">
            <div class="grid-col-9">
                <h2>Attachments</h2>
            </div>
            <div class="grid-col-3 text-right mt-10">
                <span class="icon-add addEmail"></span><span class="control-label">Add attachment</span>
                <span class="icon-settings addEmail"></span><span class="control-label">Edit</span>
            </div>
        </div>
        -->
    </div>

</form>

<script type="text/javascript">
    var addressTypes = [
        {% for type in addressTypes %}
        {
            'id':{{ type.id }},
            'name': '{{ type.name }}'
        },
        {% endfor %}
    ];
    var phoneTypes = [
        {% for type in phoneTypes %}
        {
            'id':{{ type.id }},
            'name': '{{ type.name }}'
        },
        {% endfor %}
    ];
    var emailTypes = [
        {% for type in emailTypes %}
        {
            'id':{{ type.id }},
            'name': '{{ type.name }}'
        },
        {% endfor %}
    ];
    var countries = [
        {% for country in countries %}
        {
            'id':{{ country.id }},
            'name': '{{ country.name }}'
        },
        {% endfor %}
    ];
    var defaults = {
        emailType: {
            'id': {{ defaultEmailType.id }},
            'name': '{{ defaultEmailType.name }}'
        },
        phoneType: {
            'id': {{ defaultPhoneType.id }},
            'name': '{{ defaultPhoneType.name }}'
        },
        addressType: {
            'id': {{ defaultAddressType.id }},
            'name': '{{ defaultAddressType.name }}'
        }
    }
</script>