<form id="{{formId}}" class="grid">
    <input type="hidden" data-mapper-property="id"/>

    <div class="highlight-section">
        {% block highlight %}
        {% endblock %}
    </div>

    <div class="fixed-width">
        {% block static %}
        {% endblock %}

        {% block contact %}
            <div id="contact-edit-form">
                <div class="pos-rel">
                    <h2 class="divider"><%=translate('contact.contacts.details')%></h2>
                    <span id="contact-options-dropdown" class="options-dropdown-container">
                        <a class="contact-options-toggle options-toggle"><span class="fa-gear"></span></a>
                    </span>
                </div>

                <div class="grid-row form-horizontal small" id="addresses" data-type="collection" data-mapper-property='[{"data":"addresses","tpl":"address-tpl","empty-tpl":"address-empty-tpl"}]'>

                    <script type="text/template" id="address-empty-tpl">
                        <div class="grid-col-12 floating">
                            <div class="form-group">
                                <label class="visible"></label>
                                <label class="hidden">
                                    <%=translate('contact.address.add.label')%>
                                </label>
                                <div class="grid-col-12 m-top-5">
                                    <div class="addButton address-add"></div>
                                </div>
                            </div>
                        </div>
                    </script>

                    <script type="text/template" id="address-tpl">
                        <div class="grid-col-12 floating m-top-0 address-component">
                            <~ var uid = _.uniqueId('address_'), first = true; ~>
                            <~ var lines = []; ~>
                            <~ if (typeof title !== 'undefined' && title !== '') { lines.push(title); } ~>
                            <~ var streetAndNumber = (street + ' ' + number).trim(); if (streetAndNumber !== '') { lines.push(streetAndNumber); } ~>
                            <~ var zipAndCity = (zip + ' ' + city).trim(); if (zipAndCity !== '') { lines.push(zipAndCity); } ~>
                            <~ lines.push(country.name); ~>
                            <~ var addressString = lines.join(', '); ~>
                            <div class="form-group">

                                <label class="visible"></label>
                                <label class="hidden">
                                    <~ if(primaryAddress) { ~>
                                        <%=translate('contact.address.primaryAddress')%>
                                    <~ } else { ~>
                                        <%=translate('public.address')%>
                                    <~ } ~>
                                    <span class="label-container">
                                        (<span class="type-value" data-form="true" data-mapper-property="addressType" data-type="label" data-type-label="name" data-type-id="id" data-id="{{ defaultAddressType.id }}">
                                            <%= translate('{{ defaultAddressType.name }}') %>
                                        </span>)
                                    </span>
                                </label>

                                <div class="address-row clickable pointer">

                                    <span><~= addressString ~></span>

                                    <div class="hidden">
                                        <input type="hidden" data-mapper-property="id" class="id-value"/>
                                        <input type="hidden" data-mapper-property="title" data-form="true"/>
                                        <input type="hidden" data-mapper-property="street" data-form="true"/>
                                        <input type="hidden" data-mapper-property="number" data-form="true"/>
                                        <input type="hidden" data-mapper-property="zip" data-form="true"/>
                                        <input type="hidden" data-mapper-property="city" data-form="true"/>
                                        <input type="hidden" data-mapper-property="country" data-form="true" data-type="readonly-select" data-type-id-property="id" data-type-output-property="name" data-type-data="{{ countries | json_encode() }}"/>
                                        <input type="hidden" data-mapper-property="state" data-form="true"/>
                                        <input type="hidden" data-mapper-property="addition" data-form="true"/>
                                        <input type="hidden" data-mapper-property="postboxNumber" data-form="true"/>
                                        <input type="hidden" data-mapper-property="postboxPostcode" data-form="true"/>
                                        <input type="hidden" data-mapper-property="postboxCity" data-form="true"/>
                                    </div>

                                    <~ if(billingAddress && deliveryAddress) { ~>
                                    <span>(<%=translate('contact.address.billingAddress')%>, <%=translate('contact.address.deliveryAddress')%>)</span>
                                    <~ } if (deliveryAddress && !billingAddress) { ~>
                                    <span>(<%=translate('contact.address.deliveryAddress')%>)</span>
                                    <~ } if (!deliveryAddress && billingAddress) { ~>
                                    <span>(<%=translate('contact.address.billingAddress')%>)</span>
                                    <~ }  ~>

                                    <div class="hidden">
                                        <span data-mapper-property="primaryAddress" data-form="true"></span>
                                        <span data-mapper-property="billingAddress" data-form="true"></span>
                                        <span data-mapper-property="deliveryAddress" data-form="true"></span>
                                        <span data-mapper-property="note" data-form="true"></span>
                                    </div>

                                    <span class="fa-times icon address-remove"></span>
                                </div>
                            </div>
                        </div>
                    </script>
                </div>

                <div class="grid-row form-horizontal small" id="contact-fields" data-type="collection" data-mapper-property='[{"data":"emails","tpl":"email-tpl"},{"data":"phones","tpl":"phone-tpl"},{"data":"urls","tpl":"url-tpl"},{"data":"faxes","tpl":"fax-tpl"}]'>
                    <script type="text/template" id="email-tpl">
                        <div class="grid-col-6 floating">
                            <~ var uid = _.uniqueId('email_') ~>
                            <div class="form-group">
                                <label for="<~= uid ~>" class="visible"></label>
                                <label for="<~= uid ~>" class="hidden">
                                    <%=translate('public.email')%>
                                    <span class="label-container">
                                        (<span class="type-value" data-form="true" data-mapper-property="emailType" data-type="label" data-type-label="name" data-type-id="id" data-id="{{ defaultEmailType.id }}">
                                            <%=translate('{{ defaultEmailType.name }}')%>
                                        </span>)
                                    </span>
                                </label>

                                <div data-form="true"
                                     data-type="husky-input"
                                     data-aura-component="input@husky"
                                     data-aura-skin="email"
                                     data-aura-instance-name="email"
                                     data-aura-input-id="<~= uid ~>"
                                     data-aura-input-name="<~= uid ~>"
                                     data-mapper-property="email"></div>
                                <span class="hidden" data-mapper-property="attributes" data-form="true" data-type="attributes"></span>
                                <input type="hidden" data-mapper-property="id" class="id-value"/>
                            </div>
                        </div>
                    </script>
                    <script type="text/template" id="fax-tpl">
                        <div class="grid-col-6 floating">
                            <~ var uid = _.uniqueId('fax_') ~>
                            <div class="form-group">
                                <label for="<~= uid ~>" class="visible"></label>
                                <label for="<~= uid ~>" class="hidden">
                                    <%=translate('public.fax')%>
                                    <span class="label-container">
                                        (<span class="type-value" data-form="true" data-mapper-property="faxType" data-type="label" data-type-label="name" data-type-id="id" data-id="{{ defaultFaxType.id }}">
                                            (<%=translate('{{ defaultFaxType.name }}')%>)
                                        </span>)
                                    </span>
                                </label>

                                <div data-form="true"
                                     data-type="husky-input"
                                     data-aura-component="input@husky"
                                     data-aura-skin="phone"
                                     data-aura-front-icon="fax"
                                     data-aura-instance-name="fax"
                                     data-aura-input-id="<~= uid ~>"
                                     data-aura-input-name="<~= uid ~>"
                                     data-mapper-property="fax"></div>
                                <span class="hidden" data-mapper-property="attributes" data-form="true" data-type="attributes"></span>
                                <input type="hidden" data-mapper-property="id" class="id-value"/>
                            </div>
                        </div>
                    </script>
                    <script type="text/template" id="phone-tpl">
                        <div class="grid-col-6 floating">
                            <~ var uid = _.uniqueId('phone_') ~>
                            <div class="form-group">
                                <label for="<~= uid ~>" class="visible"></label>
                                <label for="<~= uid ~>" class="hidden">
                                    <%=translate('public.phone')%>
                                    <span class="label-container">
                                        (<span class="type-value" data-form="true" data-mapper-property="phoneType" data-type="label" data-type-label="name" data-type-id="id" data-id="{{ defaultPhoneType.id }}">
                                        <%= translate('{{ defaultPhoneType.name }}') %>
                                        </span>)
                                    </span>
                                </label>

                                <div data-form="true"
                                     data-type="husky-input"
                                     data-aura-component="input@husky"
                                     data-aura-skin="phone"
                                     data-aura-instance-name="phone"
                                     data-aura-input-id="<~= uid ~>"
                                     data-aura-input-name="<~= uid ~>"
                                     data-mapper-property="phone"></div>
                                <span class="hidden" data-mapper-property="attributes" data-form="true" data-type="attributes"></span>
                                <input type="hidden" data-mapper-property="id" class="id-value"/>
                            </div>
                        </div>
                    </script>
                    <script type="text/template" id="url-tpl">
                        <div class="grid-col-6 floating">
                            <~ var uid = _.uniqueId('url_') ~>
                            <div class="form-group">
                                <label for="<~= uid ~>" class="visible"></label>
                                <label for="<~= uid ~>" class="hidden">
                                    <%= translate('contact.accounts.website') %>
                                    <span class="label-container">
                                        (<span class="type-value" data-form="true" data-mapper-property="urlType" data-type="label" data-type-label="name" data-type-id="id" data-id="{{ defaultUrlType.id }}"><%= translate('{{ defaultUrlType.name }}') %></span>)
                                    </span>
                                </label>

                                <div data-form="true"
                                     data-type="url-input"
                                     data-aura-component="url-input@husky"
                                     data-aura-instance-name="url"
                                     data-mapper-property="url"
                                     class="trigger-save-button"></div>
                                <span class="hidden" data-mapper-property="attributes" data-form="true" data-type="attributes"></span>
                                <input type="hidden" data-mapper-property="id" class="id-value"/>
                            </div>
                        </div>
                    </script>
                </div>

                <div class="grid-row form-horizontal" data-type="collection" data-mapper-property='{"data":"notes","tpl":"note-tpl"}'>
                    <script type="text/template" id="note-tpl">
                        <div class="grid-col-12 floating">
                            <~ var uid = _.uniqueId('note_') ~>
                            <div class="form-group">
                                <label for="<~= uid ~>" class="top visible"></label>
                                <label class="top hidden" for="<~= uid ~>"><%= translate('public.note') %></label>
                                <input type="hidden" data-mapper-property="id" class="id-value"/>
                                <textarea id="<~= uid ~>" data-form="true" class="form-element" data-mapper-property="value"> </textarea>
                            </div>
                        </div>
                    </script>
                </div>

                <h2 class="divider"><%=translate('contact.accounts.bank-accounts')%></h2>

                <div class="grid-row small form-horizontal" id="bankAccounts" data-type="collection" data-mapper-property='[{"data":"bankAccounts","tpl":"bank-account-tpl","empty-tpl":"bank-account-empty-tpl"}]'>
                    <script type="text/template" id="bank-account-empty-tpl">
                        <div class="grid-col-12 m-bottom-5 floating">
                            <div class="form-group">
                                <label>
                                    <%=translate('contact.accounts.bankAccounts.add.label')%>
                                </label>
                                <div class="m-top-5">
                                    <div class="addButton bank-account-add"></div>
                                </div>
                            </div>
                        </div>
                    </script>

                    <script type="text/template" id="bank-account-tpl">
                        <div class="grid-col-12 floating m-top-0 bank-account-component">
                            <div class="">
                                <div class="form-group">
                                    <label><%=translate('contact.accounts.bankAccount.label')%></label>

                                    <div class="bank-account-row clickable pointer">
                                        <span data-mapper-property="id" data-form="true" class="hidden"></span>

                                        <span data-mapper-property="bankName" data-form="true"></span>
                                        <span><%=translate('public.bic')%></span>
                                        <span data-mapper-property="bic" data-form="true"></span>
                                        <span><%=translate('public.iban')%></span>
                                        <span data-mapper-property="iban" data-form="true"></span>
                                        <span class="fa-times icon bank-account-remove"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </script>

                </div>
            </div>
        {% endblock %}

        {% block tags %}
            <div class="grid-row">
                <h2 class="divider"><%= translate('contact.contacts.assignment') %></h2>
            </div>
            <div class="grid-row form-horizontal">
                <div class="form-group">
                    <label><%= translate('tag.tags.title') %></label>
                    <div id="tags"></div>
                </div>
            </div>
        {% endblock %}
    </div>
</form>

{% block data %}
    <script type="text/javascript">
        (function() {
            var defaults = {
                        emailType: {
                            'id': {{ defaultEmailType.id }},
                            'name': '{{ defaultEmailType.name }}'
                        },
                        phoneType: {
                            'id': {{ defaultPhoneType.id }},
                            'name': '{{ defaultPhoneType.name }}'
                        },
                        addressType: {
                            'id': {{ defaultAddressType.id }},
                            'name': '{{ defaultAddressType.name }}'
                        },
                        urlType: {
                            'id': {{ defaultUrlType.id }},
                            'name': '{{ defaultUrlType.name }}'
                        },
                        faxType: {
                            'id': {{ defaultFaxType.id }},
                            'name': '{{ defaultFaxType.name }}'
                        },
                        country: {
                            'id': {{ defaultCountry.id }},
                            'name': '{{ defaultCountry.name }}'
                        }
                    },
                    types = {
                        'email': {{ emailTypes|json_encode()|raw }},
                        'phone': {{ phoneTypes|json_encode()|raw }},
                        'address': {{ addressTypes|json_encode()|raw }},
                        'url': {{ urlTypes|json_encode()|raw }},
                        'fax': {{ faxTypes|json_encode()|raw }},
                        'countries': {{ countries|json_encode()|raw }}
                    };
            App.emit('sulu.contacts.set-types', types);
            App.emit('sulu.contacts.set-defaults', defaults);
        })();
    </script>
{% endblock %}
