{# TODO to by deleted #}
<style type="text/css">
    img.logo {
        padding-top: 30px;
        padding-bottom: 10px;
        max-height: 140px;
    }

    .control-label {
        padding-left: 5px;
        padding-right: 10px;
        cursor: pointer;
    }

    div.remove-email,
    div.remove-phone,
    div.remove-address {
        display: none;
    }

    #phones div:hover > div.remove-phone,
    #addresses div:hover > div.remove-address,
    #emails div:hover > div.remove-email {
        display: block;
    }

    #emails .husky-validate-success label::after,
    #phones .husky-validate-success label::after,
    #addresses .husky-validate-success label::after {
        content: "";
    }
</style>


<form id="contact-form">
    <input type="hidden" data-mapper-property="id"/>

    <div class="grid">

        {% block static %}

        {% endblock %}
        <hr class="divider"/>

        {% block emails %}
            <h2>Email</h2>

            <div class="grid-row" id="emails" data-mapper-property="emails" data-type="array">
                <div class="grid-col-6 floating email-item">
                    <input type="hidden" data-mapper-property="id" class="id-value"/>

                    <div class="grid-col-12 dropdown"
                         data-aura-component="dropdown@husky"
                         data-aura-data='{{ emailTypes|json_encode() }}'
                         data-aura-instance-name="type"
                         data-aura-trigger="label">
                        <label class="pull-left">
                            <span class="type-value"
                                  data-form="true"
                                  data-mapper-property="emailType"
                                  data-type="label"
                                  data-type-label="name"
                                  data-type-id="id"
                                  data-id="{{ defaultEmailType.id }}">
                                {{ defaultEmailType.name }}
                            </span>
                            <span class="dropdown-toggle inline-block pointer"></span>
                        </label>

                        <div class="remove-email"><span class="icon-remove pull-right pointer"></span></div>
                    </div>

                    <input type="text" class="form-element email-value" data-type="email" data-mapper-property="email">
                </div>
            </div>

            <div class="grid-row">
                <div id="addEmail" data-target-id="emails">
                    <span class="icon-add"></span><span class="control-label">Add email</span>
                </div>
            </div>
        {% endblock %}
        <hr class="divider"/>

        {% block phones %}
            <h2>Phone</h2>

            <div class="grid-row" id="phones" data-mapper-property="phones" data-type="array">
                <div class="grid-col-6 floating phone-item">
                    <input type="hidden" data-mapper-property="id" class="id-value"/>

                    <div class="grid-col-12 dropdown"
                         data-aura-component="dropdown@husky"
                         data-aura-data='{{ phoneTypes|json_encode() }}'
                         data-aura-instance-name="type"
                         data-aura-trigger="label">
                        <label class="pull-left">
                            <span class="type-value"
                                  data-form="true"
                                  data-mapper-property="phoneType"
                                  data-type="label"
                                  data-type-label="name"
                                  data-type-id="id"
                                  data-id="{{ defaultPhoneType.id }}">
                                {{ defaultPhoneType.name }}
                            </span>
                            <span class="dropdown-toggle inline-block pointer"></span>
                        </label>

                        <div class="remove-phone"><span class="icon-remove pull-right pointer"></span></div>
                    </div>

                    <input type="text" class="form-element phone-value" data-mapper-property="phone">
                </div>
            </div>

            <div class="grid-row">
                <div id="addPhone" data-target-id="phones">
                    <span class="icon-add"></span><span class="control-label">Add phone number</span>
                </div>
            </div>
        {% endblock %}
        <hr class="divider"/>

        {% block addresses %}
            <div class="grid-row">
                <div class="grid-col-10">
                    <h2>Address</h2>
                </div>
                <div class="grid-col-2 align-right m-top-10">
                    <div id="addAddress" data-target-id="addresses">
                        <span class="icon-add"></span><span class="control-label">Add address</span>
                    </div>
                </div>
            </div>

            <div id="addresses" data-mapper-property="addresses" data-type="array">
                <div class="address-item m-bottom-10">
                    <input type="hidden" data-mapper-property="id" class="id-value"/>

                    <div class="grid-row">
                        <div class="m-bottom-10 pull-left">
                            <div class="grid-col-12 dropdown"
                                 data-aura-component="dropdown@husky"
                                 data-aura-data='{{ addressTypes|json_encode() }}'
                                 data-aura-instance-name="type"
                                 data-aura-trigger="label">
                                <label class="pull-left">
                                    <span class="type-value"
                                          data-form="true"
                                          data-mapper-property="addressType"
                                          data-type="label"
                                          data-type-label="name"
                                          data-type-id="id"
                                          data-id="{{ defaultAddressType.id }}">
                                        {{ defaultAddressType.name }}
                                    </span>
                                    <span class="dropdown-toggle inline-block pointer"></span>
                                </label>
                            </div>
                        </div>
                        <div class="remove-address"><span class="icon-remove pull-right pointer"></span></div>
                    </div>
                    <div class="grid-row">
                        <div class="grid-col-6">
                            <label>Street</label>
                            <input class="form-element street-value"
                                   data-mapper-property="street"/>
                        </div>
                        <div class="grid-col-2">
                            <label>Number</label>
                            <input class="form-element number-value"
                                   data-mapper-property="number"/>
                        </div>
                        <div class="grid-col-4">
                            <label>House, Floor, etc.</label>
                            <input class="form-element addition-value"
                                   data-mapper-property="addition"/>
                        </div>
                    </div>
                    <div class="grid-row">
                        <div class="grid-col-2">
                            <label>Zip</label>
                            <input class="form-element zip-value"
                                   data-mapper-property="zip"/>
                        </div>
                        <div class="grid-col-4">
                            <label>City</label>
                            <input class="form-element city-value"
                                   data-mapper-property="city"/>
                        </div>
                        <div class="grid-col-2">
                            <label>State</label>
                            <input class="form-element state-value"
                                   data-mapper-property="state"/>
                        </div>
                        <div class="grid-col-4">
                            <label>Country</label>

                            <div data-aura-component="select@husky"
                                 data-aura-data='{{ countries|json_encode() }}'></div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>

</form>

{% block dialog %}
    <div id="dialog"></div>{% endblock %}

{% block data %}
    <script type="text/javascript">
        // FIXME don't use global vars !!!

        var addressTypes = [
                    {% for type in addressTypes %}
                    {
                        'id':{{ type.id }},
                        'name': '{{ type.name }}'
                    },
                    {% endfor %}
                ],
                phoneTypes = [
                    {% for type in phoneTypes %}
                    {
                        'id':{{ type.id }},
                        'name': '{{ type.name }}'
                    },
                    {% endfor %}
                ],
                emailTypes = [
                    {% for type in emailTypes %}
                    {
                        'id':{{ type.id }},
                        'name': '{{ type.name }}'
                    },
                    {% endfor %}
                ],
                urlTypes = [
                    {% for type in urlTypes %}
                    {
                        'id':{{ type.id }},
                        'name': '{{ type.name }}'
                    },
                    {% endfor %}
                ],
                countries = [
                    {% for country in countries %}
                    {
                        'id':{{ country.id }},
                        'name': '{{ country.name }}'
                    },
                    {% endfor %}
                ],
                defaults = {
                    emailType: {
                        'id': {{ defaultEmailType.id }},
                        'name': '{{ defaultEmailType.name }}'
                    },
                    phoneType: {
                        'id': {{ defaultPhoneType.id }},
                        'name': '{{ defaultPhoneType.name }}'
                    },
                    addressType: {
                        'id': {{ defaultAddressType.id }},
                        'name': '{{ defaultAddressType.name }}'
                    },
                    urlType: {
                        'id': {{ defaultUrlType.id }},
                        'name': '{{ defaultUrlType.name }}'
                    },
                    country: {
                        'id': {{ defaultCountry.id }},
                        'name': '{{ defaultCountry.name }}'
                    }
                };
    </script>
{% endblock %}
