<div class="grid-col-{{ property.colspan != "" ? property.colspan : '12' }} floating m-top-20">
    <div class="grid">
        <div class="sortable grid-row multiple-property"
             id="{{ id|raw }}"
             data-type="collection"
             {% if property.minOccurs is not null %}data-type-min="{{ property.minOccurs }}"{% endif %}
             {% if property.maxOccurs is not null %}data-type-max="{{ property.maxOccurs }}"{% endif %}
             data-mapper-property='[{"data": "{{ property.name }}", "tpl": "{{ id|raw }}-tpl"}]'
             data-mapper-full-class="full"
             data-mapper-empty-class="empty">

            <script id="{{ id|raw }}-tpl" type="text/template">
                <div class="text-block {{ property.name }}-element">
                    <div class="container">
                        <div class="head">
                            <label class="move" title="{{ property.getInfoText(userLocale) }}">
                                {{ property.getTitle(userLocale) }}
                            </label>

                            <div class="input-description">{{ property.getInfoText(userLocale) }}</div>

                            <div data-mapper-remove="{{ property.name }}"
                                 class="fa-times options-remove mapper-remove-{{ property.name }}"></div>
                        </div>

                        {% include type.template with {'property': property, 'params':params, 'type': type, 'id': id ~ '-' ~ property.name ~ '<~=index~>', 'webspaceKey': webspaceKey, 'languageCode': languageCode, 'userLocale': userLocale, 'uuid': uuid} only %}
                    </div>
                </div>
            </script>
        </div>

        {% if sulu_needs_add_button(property) %}
            {% include 'SuluContentBundle:Template:macros/add_button.html.twig' with {'property': property} only %}
        {% endif %}
    </div>
</div>
