<div class="grid-col-{{ property.colspan != "" ? property.colspan : '12' }} floating section section-{{ property.name }}">
    {% if title == true %}
        <h2 class="divider m-bottom-20"
            title="{{ property.getInfoText(userLocale) }}">{{ property.getTitle(userLocale) }}</h2>

        <div class="input-description">{{ property.getInfoText(userLocale) }}</div>
    {% endif %}

    <div class="grid">
        <div class="grid-row">
            {% include 'SuluContentBundle:Template:macros/properties.html.twig' with {
                'properties': property.childProperties
            } %}
        </div>
    </div>
</div>
