<div class="grid-col-{{ property.colspan != "" ? property.colspan : '12' }} floating form-group">
    <label for="{{ id|raw }}" class="pointer {{ (property.mandatory) ? 'required' : '' }}"
           title="{{ property.getInfoText(userLocale) }}">
        {{ property.getTitle(userLocale) }}
    </label>

    {% if type.template|default(false) %}
        {% include type.template %}
    {% else %}
        <div>
            <span class="badge badge-red">Template for content type "{{ type.name }}" was not defined.</span>
        </div>

        <div class="block-content" data-sort-mode-id="{{ id|raw }}"></div>
    {% endif %}

    {% if property.getInfoText(userLocale) %}
        <div class="input-description">{{ property.getInfoText(userLocale) }}</div>
    {% endif %}
</div>
