<div class="grid-col-{{ property.colspan != "" ? property.colspan : '12' }} floating form-group">
    <label for="{{ id|raw }}" class="pointer {{ (property.mandatory) ? 'required' : '' }}"
           title="{{ property.getInfoText(userLocale) }}">
        {{ property.getTitle(userLocale) }}
    </label>

    {% include type.template %}

    <div class="input-description">{{ property.getInfoText(userLocale) }}</div>
</div>
