{% set mandatory = (property.mandatory is defined and property.mandatory == true) %}
<label for="{{ property.name }}" class="pointer {{ (mandatory) ? 'required' : '' }}">{{ property.name }}</label>

<input type="text"
       class="form-element"
       id="{{ property.name }}"
       data-mapper-property="{{ property.name }}"
        {% if mandatory %}
    data-validation-required="true"
        {% endif %}/>
