<html>
    <head><title>{{ status_code }}: {{ status_message }}</title></head>
    <body>
        <h1>{{ status_code }}: {{ status_message }}</h1>

        <p>{{ message }}</p>

        <hr/>

        <p></p>
    </body>
</html>
