<html>
    <head>
        <title>{{ status_code }}: {{ status_message }}</title>
    </head>
    <body>
        <h1>{{ status_code }}: {{ status_message }}</h1>

        <p>{{ message }}</p>

        <hr/>
        <p>Error in file "{{ file }}" at line {{ line }}</p>

        <hr/>
        <p>Error message: {{ message }}</p>

        <hr/>
        <p>Trace: {{ trace_string }}</p>

    </body>
</html>
