{% extends "SuluContentBundle:Export:Webspace/base.export.twig" %}

{% block content %}
<?xml version="1.0" encoding="utf-8"?>
<xliff xmlns="urn:oasis:names:tc:xliff:document:1.2" version="1.2">
    <!-- WebspaceKey: {{ webspaceKey }} -->
{% set counter = 0 %}
{{- block('pages') -}}
</xliff>
{% endblock content %}

{% if false %} {# avoid output of block directly #}
    {# Output page #}
    {% block page %}
    <file source-language="{{ document.locale }}" datatype="plaintext" original="{{ document.uuid }}::{{ document.structureType }}">
        <body>
        {{ block('properties') }}
        </body>
    </file>
    {% endblock page %}

    {# Create Model for Render #}
    {%- block model -%}
        {%- if sulu_content_type_has_export(propertyType, format) -%}
        {% spaceless %}
            {% set resname = propertyName %}
            {% set options = sulu_content_type_export_options(propertyType, format) %}
            {% set source = sulu_content_type_export(propertyType, propertyValue) %}
            {% set translate = options.translate %}
            {% set target = source %}
            {% if translate %}
                {% set target = '' %}
            {% endif %}
        {% endspaceless %}{{- block('view') -}}
        {%- endif -%}
    {%- endblock model -%}

    {# Create Extension Model for Render #}
    {%- block extensionModel -%}
        {% set resname = propertyName %}
        {% set options = propertyOptions %}
        {% set source = propertyValue %}
        {% set translate = options.translate %}
        {% set target = source %}
        {% if translate %}
            {% set target = '' %}
        {% endif %}
        {{- block('view') -}}
    {%- endblock extensionModel -%}

    {# Trans Unit Output #}
    {%- block view -%}
        {% spaceless %}{% set counter = counter + 1 %}
        {% set attributes = '' %}
        {%- if not translate -%}
            {% set attributes = attributes  ~ ' translate="false"' %}
        {%- endif -%}
        {% endspaceless %}
            {% autoescape false %}

            <!-- {{ propertyName }}: {{ propertyType }} -->
            <trans-unit id="{{ counter }}" resname="{{ resname }}"{{ attributes }}>
                <source>{{ sulu_content_type_export_escape(source) }}</source>
                <target>{{ sulu_content_type_export_escape(target) }}</target>
            </trans-unit>
            {% endautoescape %}
    {%- endblock view -%}
{% endif %}
