{% if data.id is defined %}
    <div class="show-icon grid-row m-bottom-40">
        <span id="account-id" class="hidden">{{ data.id }}</span>

        <h2 class="m-bottom-0 action">{{ data.name }}
            <span class="blue-icon"><span class="fa-pencil"></span></span>
        </h2>
    </div>

    {% if data.address is defined %}
        <div class="grid-row m-bottom-30">
            <h5 class="label"><%=translate('public.address')%></h5>
            <span class="block grey">
                {{ data.address.street }}
                {{ data.address.number }}
                {{ data.address.zip }}
                {{ data.address.city }}
                {{ data.address.country }}
            </span>
        </div>
    {% endif %}

    {% if data.phone or data.fax  is not empty %}
        <div class="grid-row m-bottom-30">
            <h5 class="label"><%=translate('public.phone')%></h5>
            {% if data.phone is not empty %}
                <span class="grey block">(<%=translate('public.phone')%>) {{ data.phone }}</span>
            {% endif %}

            {% if data.fax  is not empty %}
                <span class="grey block">(<%=translate('public.fax')%>) {{ data.fax }}</span>
            {% endif %}
        </div>
    {% endif %}

    {% if data.email or data.url is not empty %}
        <div class="grid-row m-bottom-30">
            <h5 class="label">
                <%=translate('contacts.sidebar.web-and-mail')%></h5>
            {% if data.email is not empty %}
                <span class="block">
                 <a class="action" href="mailto:{{ data.email }}" traget="_blank">{{ data.email }}</a>
             </span>
            {% endif %}
            {% if data.url is not empty %}
                <span class="block">
                 <a class="action" href="http://{{ data.url }}" target="_blank">{{ data.url }}</a>
             </span>
            {% endif %}
        </div>
    {% endif %}

    {% if data.contacts is defined %}
        <div class="grid-row m-bottom-30">
            <h5 class="label"><%=translate('public.company')%></h5>
            <h4 class="m-top-0 m-bottom-0">{{ data.company.name }}</h4>
            {% if data.company.address is defined %}
                <span class="grey block">
                    {{ data.company.address.city }}
                    {{ data.company.address.country }}
                </span>
            {% endif %}
            <span class="block">
             <a class="action" href="mailto:{{ data.company.email }}" target="_blank">
                 {{ data.company.email }}
             </a>
         </span>
        </div>
    {% endif %}
{% endif %}

