{% if data is defined %}
<h5 class="label"><%=translate('contacts.sidebar.contacts')%></h5>
    {% for contact in data %}
        <div class="grid-row m-bottom-10">
            <span id="account-id" class="hidden">{{ contact.id }}</span>
            <h4 class="m-bottom-0 m-top-0">{{ contact.fullName }}</h4>
            {% if contact.phone is not empty %}
                <span class="grey block">(<%=translate('public.phone')%>) {{ contact.phone }}</span>
            {% endif %}
            <span class="grey block"><a class="action" href="mailto:{{ contact.email }}" target="_blank">{{ contact.email }}</a></span>
        </div>
    {% endfor %}

{% else %}
    {{ data.errorMessage }}
{% endif %}

