{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% macro logo() %}
    <?xml version="1.0" encoding="UTF-8"?>
    <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 42 (36781) - http://www.bohemiancoding.com/sketch -->
        <title>Artboard</title>
        <desc>Created with Sketch.</desc>
        <defs></defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Artboard" fill="#FFFFFF">
                <path d="M23.8841274,12.750735 C24.1025274,12.394735 24.0041274,11.902735 23.6665274,11.657135 L17.9913274,7.53393504 C17.6537274,7.28833504 17.3417274,6.74753504 17.2977274,6.33233504 L16.9009274,2.55153504 C16.8577274,2.13633504 16.4977274,1.90513504 16.1017274,2.03713504 L0.51612745,7.24913504 C0.12012745,7.38193504 -0.0942725502,7.81313504 0.0401274498,8.20913504 L2.99132745,16.899535 C3.12572745,17.294735 3.56972745,17.690735 3.97772745,17.778735 L18.0929274,20.830735 C18.5009274,20.918735 19.0137274,20.699535 19.2313274,20.343535 L23.8841274,12.750735 L23.8841274,12.750735 Z M11.0425274,8.89153504 C10.7961274,9.22913504 10.2609274,9.43153504 9.85292745,9.34193504 L3.22572745,7.88433504 C2.81772745,7.79473504 2.80812745,7.61313504 3.20412745,7.48033504 L14.2153274,3.79793504 C14.6113274,3.66513504 14.7337274,3.83313504 14.4881274,4.17073504 L11.0425274,8.89153504 L11.0425274,8.89153504 Z M15.5241274,4.56913504 C15.7705274,4.23153504 16.0073274,4.29553504 16.0513274,4.71073504 L17.4057274,17.626735 C17.4489274,18.041935 17.2841274,18.105135 17.0393274,17.766735 L11.9305274,10.717935 C11.6857274,10.379535 11.6865274,9.82753504 11.9329274,9.48993504 L15.5241274,4.56913504 L15.5241274,4.56913504 Z M1.53372745,9.27393504 C1.39932745,8.87873504 1.62332745,8.62833504 2.03132745,8.71793504 L9.76652745,10.419535 C10.1745274,10.509135 10.7089274,10.859535 10.9537274,11.197135 L16.5249274,18.882735 C16.7697274,19.221135 16.6369274,19.425135 16.2281274,19.336335 L4.79692745,16.860335 C4.38892745,16.771535 3.94492745,16.376335 3.81052745,15.980335 L1.53372745,9.27393504 L1.53372745,9.27393504 Z M17.6065274,9.27713504 C17.5633274,8.86193504 17.8041274,8.72273504 18.1417274,8.96833504 L22.2353274,11.942735 C22.5729274,12.188335 22.6713274,12.680335 22.4529274,13.036335 L19.0481274,18.601135 C18.8305274,18.957135 18.6161274,18.909135 18.5729274,18.493935 L17.6065274,9.27713504 L17.6065274,9.27713504 Z" id="Shape"></path>
            </g>
        </g>
    </svg>
{% endmacro %}

{% block toolbar %}
    {% import _self as self %}
    {% set icon %}
        {{ self.logo }}
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>Portal</b>
            <span>{{ collector.data('portal').name }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Webspace</b>
            <span>{{ collector.data('webspace').name }}</span>
        </div>
        {% if collector.data('structure') %}
        <div class="sf-toolbar-info-piece">
            <b>Structure</b>
            <span>{{ collector.data('structure').template }}</span>
        </div>
        {% endif %}
        <div class="sf-toolbar-info-piece">
            <b>Localization</b>
            <span>
                {{ collector.data('localization') }}
                {% if collector.data('structure') %}
                ({{ collector.data('structure').shadowOn ? collector.data('structure').shadowBaseLanguage : 'no shadow' }})
                {% endif %}
            </span>
        </div>
    {% endset %}
    {% include 'WebProfilerBundle:Profiler:toolbar_item.html.twig' with { 'link': profiler_url } %}
{% endblock %}

{% block menu %}
{% import _self as self %}
<span class="label">
    <span class="icon">{{ self.logo }}</span>
    <strong>Sulu</strong>
</span>
{% endblock %}

{% block panel %}
    {% import _self as self %}
    <h2>Webspace</h2>
    <table>
        <tbody>
            {% for field, value in collector.data('webspace') %}
            <tr>
                <th>{{ field }}</th>
                <td>
                {% if value is iterable %}
                    {{ value|json_encode }}
                {% else %}
                    {{ value }}
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Portal</h2>
    <table>
        <tbody>
            {% for field, value in collector.data('portal') %}
            <tr>
                <th>{{ field }}</th>
                <td>
                {% if value is iterable %}
                    {{ value|json_encode }}
                {% else %}
                    {{ value }}
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Structure</h2>
    {% if collector.data('structure') %}
    <table>
        <tbody>
            {{ self.table_row('id', collector.data('structure').id) }}
            {{ self.table_row('path', collector.data('structure').path) }}
            {{ self.table_row('nodeType', collector.data('structure').nodeType) }}
            {{ self.table_row('internal', collector.data('structure').internal ? 'yes' : 'no') }}
            {{ self.table_row('nodeState', collector.data('structure').nodeState) }}
            {{ self.table_row('published', collector.data('structure').published.format('Y-m-d H:i:s')) }}
            {{ self.table_row('nodeState', collector.data('structure').nodeState) }}
            {{ self.table_row('navContexts', collector.data('structure').navContexts) }}
            {{ self.table_row('enabledShadowLanguages', collector.data('structure').enabledShadowLanguages) }}
            {{ self.table_row('concreteLanguages', collector.data('structure').concreteLanguages) }}
            {{ self.table_row('shadowOn', collector.data('structure').shadowOn ? 'yes' : 'no') }}
            {{ self.table_row('shadowBaseLanguage', collector.data('structure').shadowBaseLanguage) }}
            {{ self.table_row('template', collector.data('structure').template) }}
            {{ self.table_row('has children', collector.data('structure').hasSub ? 'yes' : 'no') }}
            {{ self.table_row('creator', collector.data('structure').creator) }}
            {{ self.table_row('changer', collector.data('structure').changer) }}
            {{ self.table_row('created', collector.data('structure').created.format('Y-m-d H:i:s')) }}
            {{ self.table_row('changed', collector.data('structure').changed.format('Y-m-d H:i:s')) }}
        </tbody>
    </table>
    {% else %}
        No structure was found.
    {% endif %}
{% endblock %}

{% macro table_row(field, value) %}
    <tr>
        <th>{{ field }}</th>
        <td>
        {% if value is iterable %}
            {{ value | json_encode }}
        {% else %}
            {{ value }}
        {% endif %}
    </tr>
{% endmacro %}
