<div id="{{ id|raw }}"
     class="preview-update trigger-save-button"
     data-property='{{ property|json_encode }}'
     data-mapper-property="{{ property.name }}"
     data-form="true"
     data-type="resourceLocator"
     data-aura-component="resource-locator@sulucontent"
     data-type-instance-name="{{ id|raw }}"
     data-aura-history-api="/admin/api/nodes/<%=content.id%>/resourcelocators?language={{ languageCode }}&webspace={{ webspaceKey }}"
     data-aura-content-id="<%=options.id%>"
     data-aura-webspace-key="{{ webspaceKey }}"
     data-type-webspace-key="{{ webspaceKey }}"
     {% if property.mandatory %}data-validation-required="true"{% endif %} ></div>
