<div id="{{ id|raw }}"
    data-type="husky-select"
    data-form="true"
    data-property='{{ property|json_encode }}'
    data-mapper-property="{{ property.name }}"
    data-aura-component="select@husky"
    data-aura-instance-name="{{ id|raw }}"
    data-aura-value-name="{{ property.params.valueName is defined ? property.params.valueName : 'name' }}"
    {{ property.params.multiple ? 'data-aura-multiple-select="true"' : '' }}
    {{ "data-aura-style=" ~ property.params.style ~ "" }}
    {{ property.params.repeatSelect is defined and property.params.repeatSelect ? 'data-aura-repeat-select="true"' : '' }}
    {{ property.params.fixedLabel is defined and property.params.fixedLabel ? 'data-aura-fixed-label="true"' : '' }}
    {{ property.params.disabled is defined and property.params.disabled ? 'data-aura-disabled="true"' : '' }}
    {{ property.params.icon is defined and property.params.icon ? "data-aura-icon=" ~ property.params.icon ~ "" : '' }}
    {{ property.params.defaultLabel is defined and property.params.icon ? "data-aura-default-label=" ~ property.params.defaultLabel ~ "" : '' }}
    {% if property.params.preSelectedElements is defined and property.params.preSelectedElements %}
        data-aura-pre-selected-elements="{{ property.params.preSelectedElements }}"
    {% endif %}
    data-aura-data='[{"id": 0,"title": "Deutsch","description": "Deutsch DESC"},{"id": 1,"title": "English","description": "English DESC"},{"id": 2,"title": "Espanol","description": "Espanol DESC"},{"id": 3,"title": "Français","description": "Français DESC"}]'
    {% if property.mandatory %}data-validation-required="true"{% endif %}
    class="preview-update trigger-save-button hide-in-sortmode"
></div>
