<div id="{{ id|raw }}"
     data-property='{{ property|json_encode }}'
     data-mapper-property="{{ property.name }}"
     data-aura-component="smart-content@sulucontent"
     data-aura-title="{{ property.getTitle(userLocale) }}"
     data-type="smartContent"
     data-type-instance-name="{{ id|raw }}"
     data-instance-name="{{ id|raw }}"
     data-form="true"
     data-aura-webspace="{{ webspaceKey }}"
     data-aura-locale="{{ languageCode }}"
     data-aura-has='{{ params.has | json_encode }}'
     data-aura-display-options='{{ sulu_parameter_to_key_value(params.display_options.value) | json_encode }}'
     {% if params.has.datasource %}
     data-aura-datasource='{{ params.datasource | json_encode }}'
     {% endif %}
     {% if params.has.categories %}
     data-aura-category-root='{{ params.category_root.value }}'
     {% endif %}
     data-aura-url="/admin/api/items?{% if webspaceKey != '' %}webspace={{ webspaceKey }}&{% endif %}locale={{ languageCode }}&excluded=<%= options.id %>&provider={{ params.provider.value }}"
     data-aura-tags-auto-complete-url="/admin/api/tags?flat=true&sortBy=name&searchFields=name"
     data-aura-sort-by='{{ sulu_parameter_to_select(params.sorting.value, userLocale) | json_encode }}'
     data-aura-present-as='{{ sulu_parameter_to_select(params.present_as.value, userLocale) | json_encode }}'></div>
