<div id="{{ id|raw }}"
     class="hide-in-sortmode"
     data-property='{{ property|json_encode }}'
     data-mapper-property="{{ property.name }}"
     data-aura-component="smart-content@sulucontent"
     data-aura-title="{{ property.getTitle(userLocale) }}"
     data-type="smartContent"
     data-type-instance-name="{{ id|raw }}"
     data-instance-name="{{ id|raw }}"
     data-form="true"
     data-aura-webspace="{{ webspaceKey }}"
     data-aura-locale="{{ languageCode }}"
     data-aura-hide-categories="{% if params.has_categories %}false{% else %}true{% endif %}"
     data-aura-hide-tags="{% if params.has_tags %}false{% else %}true{% endif %}"
     data-aura-hide-data-source="{% if params.has_datasource %}false{% else %}true{% endif %}"
     data-aura-hide-sort-by="{% if params.has_sorting %}false{% else %}true{% endif %}"
     data-aura-hide-limit="{% if params.has_limit %}false{% else %}true{% endif %}"
     data-aura-hide-present-as="{% if params.has_present_as %}false{% else %}true{% endif %}"
     {% if params.has_datasource %}
     data-aura-datasource-name="{{ params.datasource.name }}"
     data-aura-datasource-options='{{ params.datasource.options|json_encode }}'
     {% endif %}
     data-aura-url="/admin/api/items?{% if webspaceKey != '' %}webspace={{ webspaceKey }}&{% endif %}locale={{ languageCode }}&excluded=<%= options.id %>&provider={{ params.provider.value }}"
     data-aura-result-key="items"
     data-aura-tags-auto-complete-url="/admin/api/tags?flat=true&sortBy=name&searchFields=name"
     data-aura-tags-result-key="tags"
     data-aura-sort-by='{{ sulu_parameter_to_select(params.sorting.value, userLocale)|json_encode }}'
     data-aura-present-as='{{ sulu_parameter_to_select(params.present_as.value, userLocale)|json_encode }}'></div>
