<div id="{{ id|raw }}"
     class="hide-in-sortmode"
     data-property='{{ property|json_encode }}'
     data-mapper-property="{{ property.name }}"
     data-aura-component="smart-content@sulucontent"
     data-aura-title="{{ property.getTitle(userLocale) }}"
     data-type="smartContent"
     data-type-instance-name="{{ id|raw }}"
     data-instance-name="{{ id|raw }}"
     data-form="true"
     data-aura-column-navigation-url="/admin/api/nodes{/dataSource}?tree=true{% if webspaceKey != '' %}&webspace={{ webspaceKey }}{% endif %}&language={{ languageCode }}&webspace-node=true"
     data-aura-hide-categories="true"
     data-aura-hide-present-as="true"
     data-aura-result-key="nodes"
     data-aura-tags-result-key="tags"
     data-aura-column-navigation-result-key="nodes"
     data-aura-url="/admin/api/nodes/filter?{% if webspaceKey != '' %}webspace={{ webspaceKey }}&{% endif %}language={{ languageCode }}&exclude=<%= options.id %>"
     data-aura-tags-auto-complete-url="/admin/api/tags?flat=true&sortBy=name&searchFields=name"
     data-aura-sort-by='[{"id":"title","name":"<%= translate("smart-content.title") %>"},{"id":"published","name":"<%= translate("public.published") %>"},{"id":"created","name":"<%= translate("public.created") %>"},{"id":"changed","name":"<%= translate("public.changed") %>"}]'></div>
