<label for="{{ property.name }}" class="pointer {{ (property.mandatory is defined and property.mandatory == true) ? 'required' : '' }}">{{ property.name }}</label>
<textarea id="{{ property.name }}" cols="{{ params.cols }}" rows="{{ params.rows }}"></textarea>
