<p class="input-description validate-error">
    <span class="unpublished" style="display: none;"></span>
    <span class="removed" style="display: none;"></span>
</p>

<textarea id="{{ id|raw }}"
        data-property='{{ property|json_encode }}'
        class="form-element hidden"
        data-type="textEditor"
        data-type-instance-name="{{ id|raw }}"
        data-aura-component="ckeditor@husky"
        {% for key, param in params %}
            {% if param.value is defined %}
                {% set value = param.value %}
                {% if value is same as(true) %}
                    {% set value = 'true' %}
                {%  elseif value is same as(false) %}
                    {% set value = 'false' %}
                {% endif %}
        data-aura-{{ key|replace('_', '-') }}="{{ value }}"
            {% endif %}
        {% endfor %}
        data-mapper-property="{{ property.name }}"
        data-aura-instance-name="{{ id|raw }}"
        data-aura-auto-start="false"
        placeholder="{{ property.getPlaceholder(userLocale) }}"
        {% if property.mandatory %}
            data-validation-required="true"
        {% endif %}
        data-aura-webspace="{{ webspaceKey }}"
        data-aura-locale="{{ languageCode }}"
></textarea>

<div class="block-content" data-sort-mode-id="{{ id|raw }}"></div>
