<div id="{{ id|raw }}"
     class="hide-in-sortmode"
     data-property='{{ property|json_encode }}'
     data-mapper-property="{{ property.name }}"
     data-form="true"
     data-type="contact-selection"
     data-type-instance-name="{{ id|raw }}"
     data-aura-component="contact-selection@sulucontact"
     data-aura-navigate-event="sulu.content.navigate"
     data-aura-instance-name="{{ id|raw }}"
     data-aura-contact="{{ params.contact.value }}"
     data-aura-account="{{ params.account.value }}"
     data-aura-url="/admin/api/customers"
     data-aura-contact-url="/admin/api/contacts?flat=true&sortBy=lastName"
     data-aura-account-url="/admin/api/accounts?flat=true&sortBy=name">
</div>
